{% extends 'sklad/base.html' %}

{% block content %}
<div class="container">
    <h1>Seznam produktů</h1>
    <a href="{% url 'pridat_produkty' %}" class="btn btn-primary mb-3">Přidat produkt</a>
    <table class="table">
        <thead>
        <tr>
            <th>Název</th>
            <th>Popis</th>
            <th>Cena</th>
            <th>Množství</th>
            <th>Min. zásoba</th>
            <th>Akce</th>
        </tr>
        </thead>
        <tbody>
        {% for produkt in produkty %}
        <tr>
            <td>{{ produkt.nazev }}</td>
            <td>{{ produkt.popis }}</td>
            <td>{{ produkt.cena }}</td>
            <td>{{ produkt.mnozstvi }}</td>
            <td>{{ produkt.min_zasoba }}</td>
            <td>
                <a href="{% url 'upravit_produkt' produkt.id %}" class="btn btn-warning btn-sm">Upravit</a>
                <a href="{% url 'smazat_produkt' produkt.id %}" class="btn btn-danger btn-sm">Smazat</a>  <!-- Tlačítko pro smazání -->
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
