{% extends 'sklad/base.html' %}
{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow-lg border-0" style="width: 400px; border-radius: 15px;">
        <h2 class="text-center text-primary">🔑 Zadejte nové heslo</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success w-100">Uložit nové heslo</button>
        </form>
    </div>
</div>
{% endblock %}
